body {
  margin: 0;
  font-family: "Merriweather", serif;
  text-align: center;
  color: #40514e;
}

h1 {
  margin: 3rem auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.5rem;
}

h2,
h3,
a,
.button-contact {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  color: #66bfbf;
}

h3,
a,
.copyright {
  color: #11999e;
}

h2 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-color: #a1a5a5;
  border-width: 5px;
  margin: 5em auto 0 auto;
}

p {
  line-height: 2;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.footer-link a {
  margin: 10px 20px;
}

a:hover {
  color: #eaf6f6;
}

.copyright,
.iconsFooter {
  font-size: 0.75rem;
  padding: 0.5rem 0 0 0;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.top-container,
.bottom-container,
.button:hover {
  background-color: #b5eaea;
}

.middle-container {
  margin: 3rem 0;
}

.bottom-container {
  padding: 20px 0;
}
.subtitle {
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 15rem;
  top: 1.8rem;
}

.bottom-cloud {
  position: absolute;
  left: 15rem;
  bottom: 18rem;
}

.skill-row {
  width: 50%;
  margin: 3rem auto;
  text-align: left;
}

.left-icon {
  width: 25%;
  float: left;
  margin-right: 2rem;
}

.right-icon {
  width: 25%;
  float: right;
  margin-left: 2rem;
}

.left-icon,
.right-icon {
  max-height: 10rem;
  width: auto;
}
.left-skill-row,
.right-skill-row {
  margin-bottom: 5rem;
}

.right-skill-row {
  text-align: right;
}

.photo-sara {
  border-radius: 50%;
  width: 10%;
}

.description {
  width: 30%;
  margin: 0 auto;
}

.contact-me, .resume {
  width: 40%;
  margin: 2rem auto 2rem auto;
}

.button {
  background: #66bfbf;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  border: solid #11cdd4 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  border: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
